@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
    --light: #e2e8f0;
    --dark: rgb(46, 46, 46);
    --cream: #FFFDD0;
    --gold: #d4a13b;
    --gold-light: #e7e5e0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;
}

#content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/* ======================================================= */
/* NAVBAR */
#header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    color: white;
    width: 100%;

}

#header-subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: min(1200px, 100%);
    padding: 20px;

}

#header-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-logo {
    width: 100px;
    cursor: pointer;
}

#navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
}

#navbar > li {
    padding: 0 20px;
}

#navbar a, #navbar a:hover, #navbar a:focus, #navbar a:active {
    text-decoration: none;
    color: inherit;
}

#navbar a:hover {
    color: var(--gold);
    cursor: pointer;
}


/* ======================================================= */
/* START CONTAINER */
#start-background {
    background-image: url('./img/pizza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

#start-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    padding: 25px 0;
}

.h-cursive-gold {
    font-family: 'Dancing Script', cursive;
    color: var(--gold);
}

#start-text > h1, #start-text > h2, #start-text > #start-telephone-container {
    line-height: auto;
}

#start-text > h1 {
    font-size: 5rem;
    line-height: 70px;
}

#start-text > h2 {
    font-size: 2.5rem;
}

#start-telephone-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#start-text > #start-telephone-container {
    font-size: 2.5rem;
    /* width: 2rem; */
}

#start-telephone-container > svg {
    fill: white;
    width: 2.5rem;
}

#menuBtn {
    background-color: var(--gold);
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 30px;
}

#menuBtn:hover {
    transform: scale(1.03);
    transition: 0.2s;
    cursor: pointer;
}


/* ======================================================= */
/* MENU CONTAINER */
#main-container {
    background-color: var(--gold-light);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

#main-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-heading > .separator {
    margin-top: 20px;
    margin-bottom: 40px;
    width: min(90%, 100px);
    height: 3px;
}

#main-heading > h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    line-height: 45px;
}

#main-heading > h1 > span {
    font-size: 2.5rem;
}

.menu-item-container, .contact-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-container > div.separator {
    margin: 20px 0;
    height: 1px;

}

.menu-item-container > h2, .contact-item-container > h2 {
    color: var(--gold);
}

.menu-item-container > p, .contact-item-container > p {
    width: min(700px, 100%);
    padding: 0 20px;
    text-align: center;
}

.price, .telephone {
    font-weight: bold;
}







/* ======================================================= */
/* MAIN CONTAINER */
/* #main-container {
    background-color: var(--gold-light);
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center;
} */

/* #main-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    width: 100%;
}

#main-heading > img {
    object-fit: cover;
    object-position: center;
    width: min(300px, 100%);
    height: 32px;
    
} */

.separator {
    width: min(90%, 90px);
    height: 2px;
    /* margin: 10px 0; */
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}

/* #main-heading > h2 {
    font-size: 1.5rem;
}

#main-container > p {
    width: min(900px, 100%);
} */




/* ======================================================= */
/* FOOTER */
#footer {
    text-align: center;
    background-color: var(--dark);
    padding: 3px;
    color: rgb(255, 255, 255);
}